.banner {
   background-image: linear-gradient(-225deg, rgba(150,150,150,0.8)0%, rgba(190,190,190,0.8) 60%), url("../../images/background2.jpg");
   color: rgb(10,10,10);
   padding: 150px 0px;
   background-size: cover;
   background-position: center;
}

.banner h1{
   font-size: 45px;
}

.banner h2{
   font-size: 25px;
   font-weight: lighter;
   opacity: 0.8;
   margin-bottom: 60px;
}
